<main>
    <div class="form">
        <h3>Sign into your Account</h3>
        <form>
            <label for="username">Username</label>
            <input type ="text" name ="username" id ="username" placeholder="Username">
            <br>
            <label for="password">Password</label>
            <input type ="password" name ="password" id ="password" placeholder="Password">
            <br>
            <input type ="submit" value="Login">
            <br>
            <br>
            <div class="signup-link">Not a member yet? <a href = "/registration">Sign Up</a>
            </div>
        </form>
    </div>
</main>
