<main>
        <div class="container">
            <h3>Profile Information:</h3>
            <div class="grid-container">
                <div class="username">Username: {{user.username}}</div>
                <div class="email">Email: {{user.email}}</div>
            <br>
            <div class="postList">
                {{#each posts}}
                    {{> cardProfile this}}
                {{/each}}
            </div>
            </div>
        </div>
 </main>
