<main>
    <div class="form">
    <div id="error"></div>
    <form id="form">
       <div class="fieldset">
           <fieldset>
               <h3>Create Your Account Here</h3>
               <div class="input-control">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <div class="error"></div>
               </div>
                    <br>
               <div class="input-control">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email">
                    <div class="error"></div>
               </div>
                    <br>
               <div class="input-control">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <div  class="error"></div>
               </div>
                    <br>
               <div class="input-control">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" id="confirmpassword" name="confirmpasssword" placeholder="Confirm Password">
                    <div  class="error"></div>
               </div>
                    <br>
                    <input type ="checkbox" id="age" required>
                    <label for="age">I am 13 years or older</label>
                    <br>
                    <input type ="checkbox" id="privacy" required>
                    <label for="privacy">I accept the <a href="#">TOS and Privacy Rules</a></label>
                    <br>
                    <input type ="submit" value="Register">
                    <br>
                </fieldset>
            </div>
        </form>
        </div>
</main>
