<main>
    <div class="container">
        <h3>Videos</h3>
        <div class="videoAuthor">Author: Rathang Pandit</div>
        <div class="videoTime">Created on: February 27th, 2023 12:00:00</div>
        <img src="https://fakeimg.pl/350x200/?text=Video">
        <div class="commentSection">Comments:</div>
        <ul>
            <li>Joe: Great Post</li>
            <li>Jack: I really like the visuals</li>
            <li>Brian: What camera did you use for the picture?</li>
        </ul>
        <br>
    </div>
</main>
