body
{
    background: linear-gradient(140deg,#006699,#993399);
}
h1
{
    font-family: "sans-serif";
    color: white;
}
h2
{
    text-align: center;
    font-family: "sans-serif";
    color: white;
    margin-top: 10px;
}
h3
{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #000066;
    border: none;
}
nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: -100px;
}
nav li
{
    display:  inline-block;
}
nav a
{
    width:100px;
    display: block;
    padding: 25px 67px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-decoration: underline;

}
nav a:hover
{
    background-color: white;
    color: black;
    border-radius: 20px;
}
fieldset
{
    border: none;
    text-align: left;
    padding: 25px 15px;

}
div.form
{
    width: 1100px;
    text-align: center;
    background-color: white;
    margin-left: 162px;
    margin-right: 162px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    height: 700px;

}
label
{
    width: 200px;
    display: inline-block;
    margin: 0.5cm;
    font-size: 20px;
    font-weight: bold;
    color: #000066;
    border-spacing: 30px;
    background-color: #CBC3E3;
    text-align: center;
    border-radius: 30px;
}
label[for="acceptUsePolicy"]
{
    margin-left: -590px;
    width: 330px;
    background-color: #CBC3E3;
}
input
{
    padding: 4px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid black;
    width: 16cm;
    margin-left: 22px;
}
input[type="checkbox"]
{
    margin-top: 60px;
}
input[type=submit]
{
    margin-top: 42px;
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color: #000066;
    text-align: center;
    margin-left: 260px;
    border-radius: 50px;
    width: 15cm;
}
input[type=submit]:hover
{
    background: linear-gradient(140deg,#006699,#993399);
    color: white;
}
input[type="file"]
{
    border: none;
}
input[id="search-text"]
{
    width: 180px;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid black;

}
button[type="submit"]
{
    margin-top: 100px;
    color: white;
    font-weight: bold;
    padding: 4px;
    background-color: #000066;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid black;
    margin-left: -1px;
}
footer
{
    clear: both;
    position: relative;
    height: 40px;
    margin-top: 150px;
    color: black;
    padding-top: 10px;
    padding-left: 5px;
    background-color: white;
    text-align: center;
    margin-bottom: -10px;
    font-size: 20px;
}
