body
{
    background: linear-gradient(140deg,#006699,#993399);
    font-family: "sans-serif";
}
input[id="search-text"]
{
    width: 180px;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid black;

}
button[type="submit"]
{
    margin-top: 100px;
    color: white;
    font-weight: bold;
    padding: 4px;
    background-color: #000066;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid black;
}
input[type=submit]:hover
{
    background: linear-gradient(140deg,#006699,#993399);
    color: white;
}
h1
{
    font-family: "sans-serif";
    color: white;
}
h2
{
    font-family: "sans-serif";
    color: white;
    text-align: center;
}
h3
{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #000066;
    border: none;
}
nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: -100px;
}
nav li
{
    display: inline-block;
}
nav a
{
    width:100px;
    display: block;
    text-decoration: underline;
    padding: 25px 67px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-family: sans-serif;
}
nav a:hover
{
    background: white;
    color: black;
    padding-bottom: 20px;
    border-radius: 20px;
}
div.container
{

    width: 800px;
    padding: 80px 200px;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 160px;
    margin-left: 100px;

}
div.username
{
    font-size: 20px;
    display: flex;
    font-weight: bold;
    text-decoration: underline;
    color: #993399;
    text-align: center;
    justify-content: center;
}
div.email
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #993399;
    text-align: center;
    justify-content: center;

}
main li
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;

}
div.postList
{
    width: 90%;
    margin: 12vh 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5,200px);
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    background-color: white;
    padding-top: 30px;
    margin-top: 15px;
    padding-bottom: 30px;
}
.product-img
{
    margin-left: 5px;
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

footer
{
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 300px;
    color: black;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: -10px;
    background-color: white;
    text-align: center;
    font-size: 20px;
}
